<!DOCTYPE html>
<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" href="../../../web/favicon.ico">
        <title>Timer Agency Template</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="{{ asset ('plugins/bootstrap/bootstrap.min.css')}}">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="{{ asset ('plugins/ionicons/ionicons.min.css')}}">
        <!-- animate css -->
        <link rel="stylesheet" href="{{ asset ('plugins/animate-css/animate.css')}}">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="{{ asset ('plugins/slider/slider.css')}}">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="{{ asset ('plugins/owl-carousel/owl.carousel.css')}}">
        <link rel="stylesheet" href="{{ asset ('plugins/owl-carousel/owl.theme.css')}}">
        <!-- Fancybox -->
        <link rel="stylesheet" href="{{ asset ('plugins/facncybox/jquery.fancybox.css')}}">
        <!-- template main css file -->
        <link rel="stylesheet" href="{{ asset ('css/style.css')}}">
        <link rel="stylesheet" href="{{ asset ('css/Search.css')}}">
        <link rel="stylesheet" href="{{ asset ('css/style1.css')}}">
        <link rel="stylesheet" href="{{ asset ('css/multimedias.css')}}">
    </head>
    <body background="{{ asset ('images/backgroundpub.jpg')}}">


        <!--
        ==================================================
        Header Section Start
        ================================================== -->
        <section align="center">
            <div class="container">
                        <a href="asset{{ ('index.html')}}" >
                            <img src="{{ asset ('images/logo.png')}}" alt="">
                        </a>
                        <div class="header-bold">
                            En DEVELOPPEMENT..</div>
                        <div class="creation-italique">Votre creation de A a Z en 48h ? et si nous vous voyons notre mode d'emploi.
            </div>
        </section>
        

        <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->



<!--

        <section >
            <div class="container">
                <div class="row">
                    <span>
                        <font size="30">
                            <font face="arial">
                                    <div align="center">
                                        <center>
                                            <script language="JavaScript">
                                                TargetDate = "09/04/2018 10:59 PM";
                                                BackColor = false;
                                                ForeColor = false;
                                                CountActive = true;
                                                CountStepper = -1;
                                                LeadingZero = true;
                                                DisplayFormat = "%%D%% jours &nbsp; %%H%% heures &nbsp; %%M%% minutes &nbsp; %%S%% secondes ";
                                                FinishMessage = "C'est fini !";
                                            </script>
                                            <script language="JavaScript" src="http://scripts.hashemian.com/js/countdown.js">
                                            </script>
                                        </center>
                                    </div>
                    </span>
                </div>
            </div>
        </section>

<br>
-->


        <div class="wrap">

            <div class="content">
                <div class="numbers">
                    <div class="bloc" id="days">
                    </div>
                    <div class="bloc" id="hours">
                    </div>
                    <div class="bloc" id="minutes">
                    </div>
                    <div class="bloc last" id="seconds">
                    </div>
                </div>
            </div>

        </div>


<!-- 
================================================== 
    Company Description Section Start
================================================== -->

<section align="center">
        <iframe width="700" height="400" src="{{ asset ('Video/publicite.mp4') }}" style="width:52%;"></iframe>
</section>


        <section align="center">
            <div class="creation-italique">


            <h1 align="center">Bientot en ligne , Inscrivez-vous pour recevoir une newsletters</h1>
            </div>
            <form action="action_page.php">
                <div class="container" style="background-color:white">
                    <input type="text" placeholder="Email address" name="mail" required>
                    <input type="submit" value="Subscribe">
                </div>
            </form>
        </section>








            <footer id="footer">
                <div class="container">

                    <div class="col-md-4">

                        <ul class="social">

                            <li>
                                <div class="rx_sociaux">
                                    <a href="https://www.facebook.com/jobid.fr/" class="Linkedin" target="_blank">
                                    <img src="{{ asset('images/if_facebook_circle_294710.png') }}" >
                                    </a>

                                    <a href="https://www.linkedin.com/company/jobid-fr/" class="Linkedin" target="_blank">
                                        <img src="{{ asset('images/if_linkedin_circle_294706.png') }}" >
                                    </a>
                                        <div class="sprite_linked_rotate"></div>

                                </div>
                            </li>
                        </ul>

                    </div>


           </div>
            </footer>

	<script src="{{ asset ('plugins/jQurey/jquery.min.js') }}"></script>

    <script src="{{ asset ('plugins/form-validation/jquery.form.js') }}"></script>
    <script src="{{ asset ('plugins/form-validation/jquery.validate.min.js') }}"></script>

	<script src="{{ asset ('plugins/owl-carousel/owl.carousel.min.js') }}"></script>

	<script src="{{ asset ('plugins/bootstrap/bootstrap.min.js') }}"></script>

	<script src="{{ asset ('plugins/wow-js/wow.min.js') }}"></script>

	<script src="{{ asset ('plugins/slider/slider.js') }}"></script>

	<script src="{{ asset ('plugins/facncybox/jquery.fancybox.js') }}"></script>

	<script src="{{ asset ('js/main.js') }}"></script>

        <script type="text/javascript" src="{{ asset ('https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset ('js/main1.js') }}" ></script>

 	</body>
</html>