{% trans_default_domain 'FOSUserBundle' %}

{#
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}

current password
New password
Repeat new password
#}

{#
<form action="{{ path("fos_user_change_password") }}" method="post">
    <div class="form-login-box">
        <div id="pasw" data-role="none">
            <label for="paswinp"><h5>Ancien mot de passe</h5></label>
            <input id="paswinp" name="current_password" placeholder="Entrer votre ancien mot de passe" type="password" data-role="none">
        </div>

        <div id="pasw" data-role="none">
            <label for="paswinp"><h5>Nouveau mot de passe</h5></label>
            <input id="paswinp" name="new_password" placeholder="Entrer votre nouveau mot de passe" type="password" data-role="none">
        </div>

        <div id="pasw" data-role="none">
            <label for="paswinp"><h5>Confirmation du mot de passe</h5></label>
            <input id="paswinp" name="new_password_confirmation" placeholder="Confirmer votre nouveau mot de passe" type="password" data-role="none">
        </div>

        <div class="btn-submut">
            <button type="submit" data-role="none">Valider</button>
        </div>
    </div>
</form>
#}



        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.current_password, { 'id': 'paswinp'} ) }}
        {{ form_row(form.plainPassword , { 'id': 'paswinp'} ) }}

        <div class="btn-submut">

            <button type="submit" data-role="none">Valider</button>

        </div>

        {{ form_end(form) }}
