<!DOCTYPE html>
<html>
<html lang="{{ app.request.getLocale() }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    {#<meta name="csrf-token" content="{{ csrf_token() }}">#}

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--
    <link href="{{ asset('fos/libs/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
-->

    <link rel="stylesheet" href="{{ asset('fos/styles/style.css') }}">
    <link rel="stylesheet" href="{{ asset('fos/styles/progress.css') }}">
    <link rel="stylesheet" href="{{ asset('fos/styles/chat.css') }}">
    <link rel="stylesheet" href="{{ asset('fos/styles/hover.css') }}">
    <link rel="stylesheet" href="{{ asset('fos/styles/bootstrap.min.css') }}">
    <!--
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    -->
    <link rel="stylesheet" href="{{ asset('fos/styles/jquerymobile-1.4.5.min.css') }}">
    <link rel="stylesheet" href="{{ asset('fos/libs/OwlCarousel2-2.2.0/dist/assets/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ asset('Admin template/images/icons/favicon.ico') }}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Admin template/vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Admin template/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Admin template/vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Admin template/vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Admin template/vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Admin template/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Admin template/css/main.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>


{% block body %}
    <header>

        <div class="cont">
            <div class="logo">
                <a href="#" id="logo-link">

                    <img src="{{ asset('Profile_template/images/LOGO-JOBID.png') }}" alt="logo">

                </a>
            </div>

            <span class="menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
            <div class="nav">

                <span class="close-icon">X</span>

                <ul>
                    <!-- <li><a href="#">Imprimeurs </a></li>-->


                    {% if app.user %}
                        <li><a href="{{ path('admin_list_users') }}">Liste Utilisateurs</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Liste Annonces</a></li>
                        <li><a href="{{ path('inscription_page') }}">Statistiques   </a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Deconnexion   </a></li>



                    {% endif %}

                </ul>
            </div>
        </div>

    </header>

<div id="container_pie" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="container_bar" style="min-width: 310px; height: 400px; margin: 0 auto"></div>









<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
    //~ jQuery(document).bind('mobileinit', function($){
    //~ alert('hich');
    //~ $.mobile.ajaxEnabled = false;
    //~ $.mobile.links = false;
    //~ });
    $(document).bind("mobileinit", function () {
        $.mobile.ajaxEnabled = false;
    });
</script>


<!--
		<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
-->

<script src="{{ asset('fos/libs/OwlCarousel2-2.2.0/dist/owl.carousel.min.js') }}"></script>
<script src="{{ asset('fos/js/init.js') }}"></script>
<script src="{{ asset('fos/js/script.js') }}"></script>
<script src="{{ asset('admin template/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('admin template/vendor/bootstrap/js/popper.js') }}"></script>
<script src="{{ asset('admin template/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('admin template/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('admin template/js/main.js') }}"></script>
<script src="{{ asset('admin template/js/highcharts.js') }}"></script>
<script src="{{ asset('admin template/js/exporting.js') }}"></script>
<script src="{{ asset('admin template/js/export-data.js') }}"></script>
<script src="{{ asset('admin template/js/data.js') }}"></script>
<script src="{{ asset('admin template/js/drilldown.js') }}"></script>
<script>
  var  total_users_banned = {{ total_users_banned|json_encode() }};
Highcharts.chart('container_pie', {
chart: {
plotBackgroundColor: null,
plotBorderWidth: null,
plotShadow: false,
type: 'pie'
},
title: {
text: 'Statistiques des Utilisateur Activés et Desactivés'
},
tooltip: {
pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
},
plotOptions: {
pie: {
allowPointSelect: true,
cursor: 'pointer',
dataLabels: {
enabled: true,
format: '<b>{point.name}</b>: {point.percentage:.1f} %',
style: {
color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
}
}
}
},
series: [{
name: 'Brands',
colorByPoint: true,
data: [{
name: 'UsersBanned',
y: {{ total_users_banned }},
sliced: true,
selected: true
}, {
name: 'UsersNotBanned',
y: {{ total_users_notbanned }}
}, ]
}]
});
</script>
<script>

    // Create the chart
    Highcharts.chart('container_bar', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Proportion des freelancers selon le niveau'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Taux de freelancers selon le niveau'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        "series": [
            {
                "name": "Browsers",
                "colorByPoint": true,
                "data": [
                    {
                        "name": "Niveau1",
                        "y": 43.74 ,
                        "drilldown": "Niveau1"
                    },
                    {
                        "name": "Niveau2",
                        "y": 36.26,
                        "drilldown": "Niveau2"
                    },
                    {
                        "name": "Niveau3",
                        "y": 20,
                        "drilldown": "Niveau3"
                    }
                ]
            }
        ],
        "drilldown": {
            "series": [
                {
                    "name": "Chrome",
                    "id": "Chrome",
                    "data": [
                        [
                            "v65.0",
                            0.1
                        ],
                        [
                            "v64.0",
                            1.3
                        ],
                        [
                            "v63.0",
                            53.02
                        ],
                        [
                            "v62.0",
                            1.4
                        ],
                        [
                            "v61.0",
                            0.88
                        ],
                        [
                            "v60.0",
                            0.56
                        ],
                        [
                            "v59.0",
                            0.45
                        ],
                        [
                            "v58.0",
                            0.49
                        ],
                        [
                            "v57.0",
                            0.32
                        ],
                        [
                            "v56.0",
                            0.29
                        ],
                        [
                            "v55.0",
                            0.79
                        ],
                        [
                            "v54.0",
                            0.18
                        ],
                        [
                            "v51.0",
                            0.13
                        ],
                        [
                            "v49.0",
                            2.16
                        ],
                        [
                            "v48.0",
                            0.13
                        ],
                        [
                            "v47.0",
                            0.11
                        ],
                        [
                            "v43.0",
                            0.17
                        ],
                        [
                            "v29.0",
                            0.26
                        ]
                    ]
                },
                {
                    "name": "Firefox",
                    "id": "Firefox",
                    "data": [
                        [
                            "v58.0",
                            1.02
                        ],
                        [
                            "v57.0",
                            7.36
                        ],
                        [
                            "v56.0",
                            0.35
                        ],
                        [
                            "v55.0",
                            0.11
                        ],
                        [
                            "v54.0",
                            0.1
                        ],
                        [
                            "v52.0",
                            0.95
                        ],
                        [
                            "v51.0",
                            0.15
                        ],
                        [
                            "v50.0",
                            0.1
                        ],
                        [
                            "v48.0",
                            0.31
                        ],
                        [
                            "v47.0",
                            0.12
                        ]
                    ]
                },
                {
                    "name": "Internet Explorer",
                    "id": "Internet Explorer",
                    "data": [
                        [
                            "v11.0",
                            6.2
                        ],
                        [
                            "v10.0",
                            0.29
                        ],
                        [
                            "v9.0",
                            0.27
                        ],
                        [
                            "v8.0",
                            0.47
                        ]
                    ]
                },
                {
                    "name": "Safari",
                    "id": "Safari",
                    "data": [
                        [
                            "v11.0",
                            3.39
                        ],
                        [
                            "v10.1",
                            0.96
                        ],
                        [
                            "v10.0",
                            0.36
                        ],
                        [
                            "v9.1",
                            0.54
                        ],
                        [
                            "v9.0",
                            0.13
                        ],
                        [
                            "v5.1",
                            0.2
                        ]
                    ]
                },
                {
                    "name": "Edge",
                    "id": "Edge",
                    "data": [
                        [
                            "v16",
                            2.6
                        ],
                        [
                            "v15",
                            0.92
                        ],
                        [
                            "v14",
                            0.4
                        ],
                        [
                            "v13",
                            0.1
                        ]
                    ]
                },
                {
                    "name": "Opera",
                    "id": "Opera",
                    "data": [
                        [
                            "v50.0",
                            0.96
                        ],
                        [
                            "v49.0",
                            0.82
                        ],
                        [
                            "v12.1",
                            0.14
                        ]
                    ]
                }
            ]
        }
    });
</script>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>